{% extends 'dictionary/base.html' %}

{% block content %}
Words in your dictionary - {{ total }} <br>
Waiting to be learn - <a href="{% url 'dictionary:explore_words' %}">{{ new }}</a>
{% if last_learned %}
    <ul>
    {% for word, meaning in last_learned.items %}
        <li>{{ word }}</li>
        <ul>
        {% for spart, means in meaning.items %}
            <li><div> {{ spart }}: </div></li>
            <ul>
            {% for mean in means %}
            <li><div> {{ mean }} </div></li>
            {% endfor %}
            </ul>
        {% endfor %}
        </ul>
    {% endfor %}
    </ul>
{% endif %}

{%if last_learned %}
    Last added words:
    <ul>
    {% for word in last_learned %}
        <li>{{ word.word }}</li>
        <div> {{ word.meaning }} </div>
    {% endfor %}
    </ul>
{% else %}
    <p>You dictionary is empty. Would you like to add any words?</p>
{% endif %}
{% endblock content %}