{% extends 'base.html' %}

{% block content %}
{% if words %}
<head>
<script type="text/javascript">
window.onload = function () {
    console.log('Onload func')
    var filter_status = {{ word_status_filter }}
    console.log(filter_status)
    if (filter_status >= 0){
        filter_words(filter_status)
        document.getElementById('filters').style.display = 'none';
    }
};

var save_word = function (word, status) {
    console.log(status)
   jQuery.ajax({
       url: "/dictionary/save_word/",
       type: "POST",
       data: {"word": word, "status": status},
       cache: false
   })
};

var filter_words = function (status) {
    var i = 0;
    while (document.getElementById('status_' + i) != null){
        var element = document.getElementById('status_' + i);

        if (parseInt(element.innerHTML) != parseInt(status) && parseInt(status)>=0) {
            element.parentNode.style.display='none';
        } else {
            element.parentNode.style.display='';
        }
        i+=1;
    }
};

var change_word_status = function(word, status, id) {
    save_word(word, status);
    var status_td = document.getElementById('status_' + id)
    status_td.innerHTML = status
};

var details_toggle = function (id) {
    var details_div = document.getElementsByName('details')[parseInt(id)];
    if (details_div.style.display == '') {
        details_div.style.display='none';
    } else {
        details_div.style.display='';
        var word = document.getElementsByName('word')[id].innerText;
        console.log(word);
        getWordUsage(word, 'usage_' + id);
        getWordDefinition(word, 'meaning_' + id);
    }


};

var highlight_word = function (highlighted_mode, id){
    var word = document.getElementsByName('word_link')[id];
    if (highlighted_mode) {
        word.style.color = 'red';
        word.style.fontWeight="bold";
    } else {
        word.style.color = '';
        word.style.fontWeight="normal";
    }
};

/////////////////////////////////////////////////////////////////////////////
       function display_speech_part(name, res, output_element_id){
                if (name in res) {
                    var container_div = document.createElement('div');
                    container_div.className = 'row';
                    document.getElementById(output_element_id).appendChild(container_div)
                    var header_div = document.createElement('div');
                    header_div.innerHTML = name + ':';
                    header_div.id = name + '_header';
                    header_div.className = 'col-md-4';
                    container_div.appendChild(header_div)
                    var content_div = document.createElement('div');
                    content_div.className = 'col-md-4';
                    container_div.appendChild(content_div);
                    for (var line in res[name]) {
                        var noun_div = document.createElement('div');
                        noun_div.innerHTML = res[name][line];
                        noun_div.className = 'row';
                        content_div.appendChild(noun_div)
                    }
                }
        }
       var getWordDefinition = function(word, output_div_id) {
       jQuery.ajax({
           url: "/dictionary/get_definition/",
           type: "POST",
           data: "word=" + word,
           cache: false,
           timeout: 5000,
           success: function (res) {
               var el = document.getElementById(output_div_id);
               while (el.firstChild) el.removeChild(el.firstChild);
               meaning = res;
               display_speech_part('Noun', res, output_div_id);
               display_speech_part('Verb', res, output_div_id);
               display_speech_part('Adjective', res, output_div_id);
               display_speech_part('Adverb', res, output_div_id);
               display_speech_part('Preposition', res, output_div_id);
               display_speech_part('Conjunctions', res, output_div_id);
               display_speech_part('Interjections', res, output_div_id)
           },
           error: function (res) {
               console.log('Error')
               document.getElementById('meaning').innerHTML='Failed to get definition.'

           }

       })
   };
       var getWordUsage = function(word, output_element_id) {
       jQuery.ajax({
           url: "/dictionary/get_usage/",
           type: "POST",
           data: "word=" + word,
           cache: false,
           timeout: 5000,
           success: function (res) {
               var el = document.getElementById(output_element_id)
               while (el.firstChild) el.removeChild(el.firstChild);
               usages = res;
                for (var source in usages){
                    var header_div = document.createElement('div');
                    header_div.innerHTML = source;
                    for (var usage in usages[source]) {
                        var usage_div = document.createElement('div');
                        usage_div.innerHTML = usages[source][usage]
                        header_div.appendChild(usage_div)
                }
                }
                el.appendChild(header_div)

               console.log(usage)

           },
           error: function (res) {
               console.log('Error');
               document.getElementById('usage').innerHTML='Failed to get usage.'

           }

       })
   }
/////////////////////////////////////////////////////////////////////////////

</script>
</head>
<div id="filters">
    <h4>Filters: </h4>
<div class="radio-inline">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios1" value="-1" onclick="filter_words(-1)" checked>
    All
  </label>
</div>
<div class="radio-inline">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios2" value="0" onclick="filter_words(0)">
    New
  </label>
</div>
<div class="radio-inline">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios3" value="2" onclick="filter_words(2)">
    Known
  </label>
</div>
<div class="radio-inline">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios3" value="1" onclick="filter_words(1)">
    To learn
  </label>
</div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">Word</div>
        <div class="col-md-2">Status</div>
        <div class="col-md-4">Actions</div>
    </div>
    {% for i, word in words %}
    <div class="row" id="{{ i }}" onmouseover="highlight_word(true, {{ i }} )" onmouseout="highlight_word(false, {{ i }} )">
        <div id="word_{{ i }}" name="word" class="col-md-4">
            <a name="word_link" id="{{ i }}" onclick="details_toggle( {{ i }} )" > {{ word.word }} </a>
        </div>
        <div id="status_{{ i }}" name="status" class="col-md-2">{{ word.status }}</div>
        <div class="container">
        <div class="col-md-1">
            <a id="save" onclick="change_word_status('{{ word.word }}', 1, {{ i }})" >Save</a>
        </div>
        <div class="col-md-1">
            <a id="known"  onclick="change_word_status('{{ word.word }}', 2, {{ i }})">Known</a>
        </div>
        <div class="col-md-1">
            <a id="ignore" onclick="change_word_status('{{ word.word }}', 3, {{ i }})">Ignore</a>
        </div>
            </div>
    </div>
    <div name="details" id="{{ i }}" class="row" style="display: none">
        <h3>Definition:</h3>
        <div name="meaning" id="meaning_{{ i }}">
            Getting meaning from online sources...
        </div>
        <h3>Usage examples:</h3>
        <div  name="usage" id="usage_{{ i }}">
            Getting usage from online sources...
        </div>
    </div>
    {% endfor %}
</div>

{% else %}
    <p>There is no new words in source.</p>
{% endif %}
{% endblock content %}