{% extends 'base.html' %}

{% block content %}
{% if sources %}
<table class="table table-striped">
            <tr>
            <td>Upload date</td>
            <td>Title</td>
            <td>Total words count</td>
            <td>New words count</td>
            <td>Unprocessed words</td>
            <td>Words to learn</td>
        </tr>
    {% for source, unprocessed, to_learn in sources %}
        <tr>
        <td>{{ source.upload_date }}</td>
            <td><a href="{% url 'dictionary:source_words' source.id %}">{{ source.title }}</a></td>
            <td>{{ source.total_words_count }} </td>
            <td>{{ source.new_words_count }}</td>
            <td><a href="{% url 'dictionary:explore_words' source.id %}">{{ unprocessed }}</a></td>
            <td><a href="{% url 'dictionary:source_words' source.id 1 %}">{{ to_learn }}</a></td>
    {% endfor %}
        </tr>
    </table>
{% else %}
    <p>There is no uploaded sources.</p>
{% endif %}
{% endblock content %}